[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-component-tags = {editable = true, git = "ssh://git@github.com/syse-i/django_component_tags"}

[dev-packages]
django-debug-toolbar = "*"

[requires]
python_version = "3.8"
